<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">favourites</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-item *ngFor="let fav of favourites">
      <ion-label (click)="getDetails(fav)">
        <h2>{{ fav.title }}</h2>
        <p>{{ fav.description }}</p>
      </ion-label>
      <ion-button fill="outline" slot="end" (click)="readMore(fav.url)">Read More</ion-button>
    </ion-item>
  </ion-list>

</ion-content>