<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="clear" (click)="favouritePage()">
      <ion-icon name="heart-outline" (click)="favouritePage()"></ion-icon>
    </ion-button>
    <ion-button fill="clear" (click)="readLaterPage()">
      <ion-icon name="bookmark-outline" (click)="readLaterPage()"></ion-icon>
    </ion-button>
    <ion-title>
      
    </ion-title>
    <ion-segment scrollable (ionChange)="($event.detail && $event.detail.value) ? loadCategoryArticles($event.detail.value.toString()) : ''">
      <ion-segment-button *ngFor="let category of categories" value="{{category}}">
        {{ category }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

  <!-- Category Articles List -->
  <div class="scroller">
    <ion-card *ngFor="let categoryArticle of articles" (click)="getDetails(categoryArticle)" style="background-color: #8292be32; " class="ion-margin">
      <ion-card-content>
      <ion-col size="4">
          <img [src]="categoryArticle.urlToImage"style="width:300px; height:150px; object-fit: cover; border-radius: 5px;" />
        </ion-col>
        <ion-col size="8">
        <ion-label (click)="getDetails(articles)">
          <p style="font: weight 200px;">{{categoryArticle.title}}</p>
        </ion-label>
      </ion-col>
      </ion-card-content>
    </ion-card>
  </div>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Top Articles</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-row style="background-color: #99919132; border-radius: 16px;" class="ion-margin"
    *ngFor="let articles of topHeadLines">
      <ion-col size="4"> 
        <img src="{{articles.urlToImage}}"  style="width:300px; height:100px; object-fit: cover; border-radius: 5px;"/>
      </ion-col>
      <ion-col size="8" > 
        <ion-label (click)="getDetails(articles)">
          {{articles.author}}
          <p>{{articles.publishedAt | date}}</p>
          <p style="font: weight 200px;">{{articles.title}}</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
