#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
//Making cateogry list scroll horizontal

/*
ion-scroll {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height: 200px;
  white-space: nowrap; 
}

ion-scroll ion-card {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
}*/
.scroller {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  width: 100%;
}

.scroller ion-card {
  display: inline-block;
}

.scroller ion-card {
  display: inline-block;
  width: 270px; 
  height: 280px; 
}

